.scrollUpContainer {
  position: fixed;
  right: -100px;
  bottom: 15px;
  transition: right 0.5s;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.scrollUpTransition {
  right: 10px;
}

.hiddeScrollUp {
  display: none;
}
